<div class="row">
  <div class="large-8 large-centered columns">
  	<a href="#" class="th" style=" margin-top:20px;">
    <div class="panel" style="background-color:#008CBA;">
	  <h1 style="color:white; text-align:center"><b>Wikisass is a Rails Project<b></h1> 
	  <hr />
        <p style="color:white; font-size:20px;">It mimics Wikipedia in that is allows multiple users to create wikis and add access to the users select members. This app is built with popular gems such as, Stripe, Devise, Redcarpet, Foundation, Cancan and was used to understand Ruby on Rails programming. It is built by <i>krillencoder</i> and is the starting point for learning how to built quality web application. I had fun building with, hope you have fun using it.</p>
    </div>
    </a>


  </div>
</div>