   <div class="row">
        <div class="large-12 columns">
        <img src="http://placehold.it/1000x400">
        </div>
      </div>

      <div class="row">
        <div class="large-4 column">
        <h3><b>Wiki + Sass</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum nunc nibh, at adipiscing erat lobortis mattis. Quisque suscipit at urna et pulvinar. Aliquam varius vel purus id fringilla. In ante massa, lacinia vel justo id, bibendum aliquam purus. Etiam placerat aliquam diam in tempus.</p>

        </div>
        <div class="large-4 column">
        <h3><b>Genius? It might be</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum nunc nibh, at adipiscing erat lobortis mattis. Quisque suscipit at urna et pulvinar. Aliquam varius vel purus id fringilla. In ante massa, lacinia vel justo id, bibendum aliquam purus. Etiam placerat aliquam diam in tempus.</p>


        </div>
        <div class="large-4 column">
        <h3><b>Power in your hands</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum nunc nibh, at adipiscing erat lobortis mattis. Quisque suscipit at urna et pulvinar. Aliquam varius vel purus id fringilla. In ante massa, lacinia vel justo id, bibendum aliquam purus. Etiam placerat aliquam diam in tempus.</p>
        </div>
      </div>