   <div class="row">
        <div class="large-12 large-centered columns">
        <img src="http://static.tumblr.com/cmfluyj/PV8n4mwmv/collab.jpg"/>
        <div class="panel" style="background-color:#008CBA;position:relative; border:1px solid #008CBA;">
         <h1 style="color:white; text-align:center; font-size:60px;"><b>WikiSass</b></h1>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
        <h3 style ="color:#008CBA;"><b>Wiki + Sass</b></h3>
        <p>WikiSass is Wikipedia re-imagined. When you sign up you get the ability to create public wikis, add pictures and can constantly edit them whenever you want. With the basic membership you can post anything you want for free and it will be viewable to all WikiSass members</p>

        </div>
        <div class="large-4 columns">
        <h3 style ="color:#008CBA;" ><b>Upgrade for More</b></h3>
        <p>When you upgrade to premium membership, on top of being able to create public wikis, you can also create private wikis that only premium members are able to see. You also have the ability to give access to other premium memebers, and collaborate to make the best wiki possible. The premium membership is only $ and you'll instantly notice the difference.
        Join WikiSass today!</p>


        </div>
        <div class="large-4 columns">
        <h3 style ="color:#008CBA;"><b>Other features</b></h3>
        <p>You can use markdown to review code, add pictures and delete wikis that you aren't satifsfied with. For premium members you can change access to your wikis by change who has access to your content.
          Its all possible with WikiSass</p>
        </div>
      </div>