<div class="row">
 <div class="large-6 large-centered column">
  <h1><b>Edit Wiki</b></h1>

  <%= form_for @wiki do |f| %>
  
  <%= f.text_field :title %>

  <%= f.text_area :body %>

  <%= f.submit "Update" %>

  <% end %>

  
 </div>
</div>